$primary-silver-tree: #63c08c;
$primary-emerald: #58cb8e;
$primary-petrol: #2d557d;

// Color Variations - Petrol
$petrol-medium: #405f84;
$petrol-light: #54749a;

// Color Variations - Blue
$blue: #268eff;
$blue-medium: #7dbbff;
$blue-light: #e5f2ff;

// Color Variations - Grey / Silver
$silver: #ddd;
$silver-light: #f8f8f8;
$silver-medium: #eee;
$dark-light: #c1c1c1;
$dark-medium: #aaa;
$dark: #444;

// Fonts
$font-family-bd: "HelveticaNeueLTPro-Bd";
$font-family-md: "HelveticaNeueLTPro-Md";
$font-family-roman: "HelveticaNeueLTPro-Roman";

$border-radius-default: 4px;
$toolbar-height: 55px;
